body {
    background: url("busan2.jpg") no-repeat center center fixed;
    
    
    background-size:cover;
    
}

.side {
    position:fixed;
    top:260px;
    left:10px;
}

.card-deck {
    margin-top:20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-body {
    height:300px;
   
}


img {
    width:200px;
    height:150px;
}

.card {
    margin-top:20px;

    
}

.card-title {
    font-family: 'Nanum Pen Script', cursive;
    font-size:30px;
    font-weight: bold;
    margin:0px;
    background-color: rgba(245, 245, 245, 0.4);
}

.card-text {
    text-align: left;
    margin:0;
    font-size:15px;
    background-color: rgba(245, 245, 245, 0.4);
}

.card-footer {
    margin:0;
}

@media (max-width:600px) {
    .card {
        
        height:auto;   
        margin-left:70px;
    }
}
    